datasets==2.16.1
numpy==1.26.3
openpyxl==3.1.2
pandas==2.1.4
python-docx==1.1.0
sacremoses==0.1.1
sentencepiece==0.1.99
tokenizers==0.15.1
torch==2.1.2
tqdm==4.66.1
transformers==4.37.0
scikit-learn==1.4.0
transformers[torch]
label-studio-sdk==0.0.32 
python-dotenv==1.0.1
seaborn==0.13.2
matplotlib==3.8.3